<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15843927970-4079lm1peq72kitfhnmo26fdlsk0hfe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15843927970-4079lm1peq72kitfhnmo26fdlsk0hfe4</string>
	<key>API_KEY</key>
	<string>AIzaSyDZltXse1n_DGvZnLELw52vOBYuZ8fHUTw</string>
	<key>GCM_SENDER_ID</key>
	<string>15843927970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muteki.LovelyCrane</string>
	<key>PROJECT_ID</key>
	<string>lovelycrane-eca51</string>
	<key>STORAGE_BUCKET</key>
	<string>lovelycrane-eca51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15843927970:ios:358cc37859d3fce6bf34fb</string>
</dict>
</plist>