<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.15843927970-4079lm1peq72kitfhnmo26fdlsk0hfe4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>15843927970-4079lm1peq72kitfhnmo26fdlsk0hfe4.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchScreen</string>
	</dict>
</dict>
</plist>
